.banner__container {
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container h1 {
  padding-bottom: 125px;
  text-align: left;
  color: white !important;
  filter: drop-shadow(1px 1px 4px black);
}

.banner__container h2 {
  text-align: left;
  color: $color-secondary;
  padding-top: 125px;
  font-size: 3rem;
  filter: drop-shadow(1px 1px 4px black);
}
