.banner__container {
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__container h1 {
  padding: 150px 20px;
  text-align: left;
  color: white !important;
  filter: drop-shadow(1px 1px 4px #5a524b);
}
