.navigation {
  background-color: $color-background;
}

.navbar-brand img {
  width: 120px;
}

.search__form button {
  border-color: $color-primary !important;
  color: $color-primary;
  background-color: $color-background;
}

.btn-outline-success:hover {
  background-color: $color-secondary;
  color: $color-primary;
}

#search__input {
  border: 1px solid $color-primary !important;
  color: $color-primary;
}

.navbar__hamburger {
  margin-left: auto;
}

.bag {
  margin-left: 15px;
  font-size: 1.3rem;
}
