html,
body {
  height: 100%;
}

body {
  font-family: $font-primary;
  background-image: url(/images/texture.jpg);
  max-width: 1300px;
  margin: 0px auto;
  color: $color-primary !important;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  color: $color-primary !important;
}

h2 {
  text-align: center;
}

.active {
  color: $color-secondary !important;
  text-decoration: underline;
}

.error {
  color: red;
}

.success {
  color: green;
}

.row {
  margin: 0px;
}
