.cart__container img {
  width: 60%;
}

.cart__container {
  padding: 0px;

  @media (min-width: 768px) {
    padding-right: 10px;
  }
}

.cart__items {
  text-align: center;
  align-items: flex-end;
  margin-bottom: 10px;
  background-color: $color-background;
}

.cart__items p {
  margin: 0px;
}

.cart__information {
  background-color: $color-background;
  margin-bottom: 10px;
  padding-bottom: 50px;
}
