//specific promotion

.specific-promotion {
  margin-top: 40px;
}

.specific-promotion h4 {
  padding: 100px 0px 150px 10px;
}

.specific-promotion div {
  border: none;
  cursor: pointer;
}
.specific-promotion div:hover {
  opacity: 0.6;
}

.promotion-bedroom {
  background-image: url(/images/bedroom.jpg);
}

.promotion-dining-table {
  background-image: url(/images/dining-table.jpg);
}

//article

.article {
  background-color: $color-background;
  border: none;
}

.article__more {
  text-align: right;
}
